<div class="container">
  <h3>Restaurants</h3>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
    </li>
  <% end %>
  </ul>
</div>
